*{
    font-size: 1rem;
    margin: 0;
    padding: 0;
   
}
@import url('https://fonts.cdnfonts.com/css/my-childish-font');
body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("https://cdn.vectorstock.com/i/1000x1000/47/13/nice-background-vector-16234713.webp");
}

h1{
    width: 80%;
    position: absolute;
    right:10%;
    text-align: center;
    align-self: center;
    font-family: 'My Childish Font';
    font-size: 80px;
}

form > h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 30%;
}
form{
    margin-bottom: 20px;
    margin-left: 50px;
    color: rgba(255, 255,255 , 0.7);
    -webkit-text-stroke: 0.2px black;
    font-weight: bold;
    background-color: rgba(179, 83, 155,0.5);
    width: 300px;
    height: 400px;
    position: absolute;
    top:calc(50% - 150px);
    right:calc(50% - 150px);
    border: 1px solid black;
   
}
label{
    padding-left: 5%;
}
input{
    margin-bottom: 10%;
    font-size: 12px;
    width: 200px;
    height: 30px;
}

#regButton{
   position: absolute;
   bottom: 0;
   right:0;
   background-color: rgba(166, 80, 150,0.3);
   
}
.changePage{
    position: absolute;
    bottom: 0;
    left: 0;
    right:calc(50% - 100px);
    background-color: rgba(240, 163, 226,0.3);
    
 }
button{
    color: rgba(255, 255,255 , 0.7);
    border:none;
    width: 50%;
    height: 19%;
    font-size: 1rem;
}
/* .blue:focus{
    background-color: rgb(126, 166, 212);
} */
input:hover{
    background-color:  rgba(122, 122, 230,0.6);
}